<table class="table text-center">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Compra</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let beer of beers" [ngClass]="{'clearence': beer.clearance}"> <!-- puedo poner , y + clases -->
            <td><img  width="100" class="img-thumbnail" [src]="beer.image" [alt]="beer.image">
            </td>
            <td>{{beer.name | uppercase}}</td>
            <td>{{beer.type}}</td>
            <td>{{beer.price | currency}}</td>
            <td><span class="badge text-bg-warning" *ngIf="beer.stock==0">SIN STOCK</span></td>
            <td>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <button class="btn btn-primary btn-sm" (click)="downQuantity(beer)"  >-</button>
                    </div>
                    <input type="text" class="text-center"
                    [(ngModel)]="beer.quantity"
                    (keyup)="changeQuantity($event, beer)">
                    <div class="input-group-append">
                        <button class="btn btn-primary btn-sm" (click)="upQuantity(beer)">+</button>
                        {{beer.quantity}}
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>