<table class="table">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Precio</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let beers of beer" [ngClass]="{'clearence': beers.clearance}"> <!-- puedo poner , y + clases -->
            <td><img [src]="beers.image" [alt]="beers.image"></td>
            <td>{{beers.name | uppercase}}</td>
            <td>{{beers.type}}</td>
            <td>{{beers.price | currency}}</td>
            <td><span class="badge text-bg-warning" *ngIf="beers.stock==0">SIN STOCK</span></td>
        </tr>
    </tbody>
</table>